@mixin flexbox {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

@mixin clamp($max-line) {
	display: -webkit-box;
	-webkit-line-clamp: $max-line;
	-webkit-box-orient: vertical;
	overflow: hidden;
	
}

@mixin heading($size) {
	@if($size == large) {
		font-size: 24px;
	} @else if ($size == medium) {
		font-size: 18px;
	} @else if ($size == small) {
		font-size: 14px;
	} @else {
		font-size: 16px;
	}
}

@mixin generate-utility($utility) {
	$values: map-get($utility, value);
	// if the values are list or string, convert it into a map

	@if type-of($values)  == "string" or type-of(nth($values, 1)) != "list" {
		$values: zip($values, $values);
	}

	// multiple properties are possiable
	$properties: map-get($map: $utility, $key: property);
	@if type-of($value: $properties) == "string" { 
		$properties: append($list: (), $val: $properties);
	}

	$class: map-get($map: $utility, $key: class);
	$class: if($class != null, $class, nth($properties, 1));
	// generate style
	@each $key, $value in $values {
		.#{$class + "-" + $key} {
			@each $property in $properties {
				#{$property}: #{$value}
			}
		}
	}
}  




